.DS_Store
/.installed.*
.tmp~*
*~.compiled.bash
.actual.*
node_modules/
/package-lock.json
.rt/
~.rt_*
/dist/firephp.zip
/dist/firephp.build/.web-extension-id
.~*
/dist/firephp.build.zip
/tests/*/.extension.built